@charset "utf-8"
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.header {
  display: flex;
  align-items: center;
  height: 60px;
  background-color: #032541;
}
.header img {
  margin-left: 20px;
}
.header a {
  margin-left: 30px;
  text-decoration: none;
  color: white;
  font-size: 16px;
  font-weight: bold;
}
body {
  margin: 0;
  padding: 0;
}
.wrap {
  display: flex;
  flex: 1 1 auto;
  min-height: 100%;
  height: auto;
  position: relative;
  top: 0;
  left: 0;
}
.main2 {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: center;
  background-color: #fff;
  margin-top: 64px;
}
.images {
  border-radius: 0;
  width: 235px;
  height: 235px;
}
